<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render 'posts', posts: @posts %>

<br>

<%= link_to 'New Post', new_post_path %>

<br>

<%= link_to 'Download spreadsheet', posts_url(format: :xlsx) %>
